.tab-header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    font-family: 'Jockey One', sans-serif;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    color: #000!important;
    background-color: #fff!important;
}
.tab-item {
    padding: 18px 50px!important;
    width: auto;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px 16px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

#page-content{
    width: 100%;
}

#welcome-text{
   
    background-image: url("tlo-upscaled.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -8px;
    margin-right: -8px;
}

.title-container{
    display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   flex-direction: column;
}

#welcome-title{
    font-family: 'Jockey One';
    font-size: 5vw;

    color:white;
}

#welcome-subtitle{
    font-family: 'Jockey One';
    font-size: 2vw;
    text-decoration:none;
    margin-top: -40px;
    color:white;
}

.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-us-title{
    font-family: 'Jockey One';
    font-size: 3.5vw;
    margin-top: 5vw;;
    color:black;
}

#about-us-content{
    color: black;
    width: 500px;
    margin-left: 12vw;
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
    font-size: 24px;
}

#about-us-image{
    margin-right: 12vw;
    margin-left: 5vw;
    margin-top: 20px;
    width: 33%;
    height: 33%;
}

#about-us-href{
    font-family: 'Jockey One';
    font-size: 1.25vw;
    text-decoration:none;
    color: #000000;
    padding-top: 310px;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-content: center;
}